*{
margin:0;
}
#citiesWrapper{
	display: grid;
	width: 60vw;
	height: 95vh;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 5%;
}
.city{
	height: 100%;
	width: 100%;
	text-align: center;
}
#warsawImage{
	
}
.images{
	height: 100px;
}