* {
 margin: 0;
}

#wrapper {
 display: flex;
 justify-content: space-around;
}
#boxWrap{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2%;
  width: 80%;
  margin: 0 auto;
}
#boxWrap h1{
  grid-column: 1/3;
}
#search {
 height: 30px;
 width: 20%;
 margin: 20px 0;
}

#cities, #clear, #submit {
 height: 25px;
 width: 10%;
 margin: auto 0;
}

#exp {
 text-align: center;
 height: 25px;
 width: 5%;
 margin: auto 0;
}

#searchText, #expText, #cityText {
 color: blue;
 margin: auto 0;
}

.resultBox {
 width: 90%;
 height: 500px;
 margin: 0 auto;
 border: 2px solid black;
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr 3fr;
}

.innerBox {
 border: 1px solid black;
}

#image {
 grid-column-start: 1;
 grid-column-end: 3;
}

#navbar {
 display: flex;
 justify-content: space-around;
 width: 35%;
 height: 25px;
 margin: 10px auto;
 color: black;
 text-decoration: none;
}

#navbar ul li {
 margin: auto 5px;
 list-style: none;
 display: inline;
}

#navbar ul li:hover {
 color: salmon;
 font-weight: bold;
}

#navbar ul li a {
 text-decoration: none;
 color: inherit;
}

#container {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 2fr;
 width: 75%;
 margin: 10px auto;
 height: 500px;
}

#a {
 grid-column: 1/3;
 grid-row: 1/2;
 background-image: url("../nycda.png");
 background-repeat: no-repeat;
 background-size: 100% 100%;
}

#c {
 grid-column: 1/3;
 grid-row: 2/3;
 background-image: url("../c.jpg");
 background-size: 100% 100%;
 background-repeat: no-repeat;
}

#employeeContainer {
 display: grid;
 grid-template-columns: 1fr 2fr 1fr;
 height: 750px;
}

#wrapperL {
 grid-column: 1/2;
}

#wrapperC {
 border: 2px solid;
 border-radius: 15%;
 grid-column: 2/3;
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;
 width: 75%;
 height: 50%;
 margin: auto;
}

#wrapperR {
 grid-column: 3/4;
}

#employeePhoto {
 border: 2px solid;
 border-radius: 50%;
 background-repeat: no-repeat;
 background-size: 100% 100%;
 height: 50%;
 width: 75%;
 grid-column: 1/2;
 grid-row: 1/4;
 margin: auto;
}

#employeeName {
 margin: auto 0;
 height: 25px;
 grid-column: 2/3;
 grid-row: 1/2;
}

#employeeCity {
 margin: auto 0;
 height: 25px;
 grid-column: 2/3;
 grid-row: 2/3;
}

#employeeExp {
 margin: auto 0;
 height: 25px;
 grid-column: 2/3;
 grid-row: 3/4;
}