#container{
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 2fr;
 width: 75%;
 margin: 10px auto;
 height: 500px;
}
#a{
 grid-column: 1/3;
 grid-row: 1/2;
 background-image: url("../nycda.png");
 background-repeat: no-repeat;
 background-size: 100% 100%;
}

#c{
 grid-column: 1/3;
 grid-row: 2/3;
 background-image: url("../c.jpg");
 background-size: 100% 100%;
 background-repeat: no-repeat;
}