#employeeContainer{
 display: grid;
 grid-template-columns: 1fr 2fr 1fr;
 height: 750px;
}
#wrapperL{
 // background-color: green;
 grid-column: 1/2;
}
#wrapperC{
 border: 2px solid;
 border-radius: 15%;
 // background-color: blue;
 grid-column: 2/3;
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;
 width:75%;
 height: 50%;
 margin: auto;
}
#wrapperR{
 grid-column: 3/4;
 // background-color: red;
}

#employeePhoto{
 border: 2px solid;
 border-radius: 50%;
 background-repeat: no-repeat;
 background-size: 100% 100%;
 height: 50%;
 width: 75%;
 grid-column: 1/2;
 grid-row: 1/4;
 margin: auto;
}

#employeeName{
 margin: auto 0;
 // background-color: orange;
 height: 25px;
 grid-column: 2/3;
 grid-row: 1/2;
}

#employeeCity{
 margin: auto 0;
 // background-color: yellow;
 height: 25px;
 grid-column: 2/3;
 grid-row: 2/3;
}

#employeeExp{
 margin: auto 0;
 // background-color: salmon;
 height: 25px;
 grid-column: 2/3;
 grid-row: 3/4;
}