#navbar{
 display: flex;
 justify-content: space-around;
 width: 35%;
 height: 25px;
 margin: 10px auto;
 color: black;
 text-decoration: none;
}

#navbar ul{
}

#navbar ul li{
 margin: auto 5px;
 list-style: none;
 display: inline;
}
#navbar ul li:hover{
 color: salmon;
 font-weight: bold;
}

#navbar ul li a{
 text-decoration: none;
 color: inherit;
}