#wrapper{
  display: flex;
  justify-content: space-around;
  // text-align: center;
}

#search{
  height: 30px;
  width: 20%;
  margin: 20px 0;
}

#cities{
  height: 25px;
  width: 10%;
  margin: auto 0;
}

#exp{
  text-align: center;
  height: 25px;
  width: 5%;
  margin: auto 0;
}

#submit{

  @extend #cities;
}

#clear{
  @extend #cities;
}

#searchText{
 color: blue;
  margin: auto 0;
}

#cityText{
@extend #searchText;
}

#expText{

@extend #searchText;
}